


#grid-container {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    border: 2px solid black;

}

.grid {
    
    border: 1px solid salmon;

}